$main-dark-background-color: black;
$black-color: black;
$main-light-background-color: #ffffff;
$main-dark-color: white;
$main-light-color: black;

$background-color-light: #e9e6df;;

$header-dark-background-color: rgb(34, 34, 34);
$header-light-background-color: #c1c1c1;

$accent-color: #5da9ff;
$accent-color-light: #2f7de1;

$cta-color: #e53935;

$grey-color: #808080;
$footer-dark-color: #222020;
$footer-light-color: #5d5a5a;