$main-dark-background-color: black;
$main-light-background-color: #ffffff;
$main-dark-color: white;
$main-light-color: black;

$header-dark-background-color: black;
$header-light-background-color: #ffffff;

$accent-color: red;

$grey-color: #808080;