@use "colors" as *;
@use "mixins" as *;

.dark {
    .language-option {
        background: $main-dark-background-color;
        color: $main-dark-color;
    }
}

.light {
    .language-option {
        background: $main-light-background-color;
        color: $main-light-color;
    }
}

.language-dropdown {
    position: relative;
    align-content: center;
    text-align: center;
    margin: 0 1rem;

    @include mobile-tablet {
        margin: 1rem 0;
    }
  
    .language-toggle {
        cursor: pointer;
        transition: 0.3s;

        @include desktop {

            &:hover {
                transform: scale(1.2);
                color: $accent-color;
            }
        }

        @include mobile-tablet {

            &.active {
                transform: scale(1.1);
                color: $accent-color;
            }
        }
    }

    .language-menu {
        top: calc(100% + 16px); // trochę odstępu od toggle
        left: 0;
        z-index: 1001; // musi być wyższe niż header (z-index: 1000)
        min-width: 100%;
        
        @include desktop {
            position: absolute;
        }

        @include mobile-tablet {
            margin-top: 1rem;
        }
        
        li {
            
            .language-option {
                padding: 1rem;
                width: 100%;
                cursor: pointer;
                transition: 0.3s;

                @include mobile-tablet {
                    background: inherit;
                }

                @include desktop {

                    &:hover {
                        // transform: scale(1.2);
                        color: $accent-color;
                    }
                }

                @include mobile-tablet {

                    &.active {
                        // transform: scale(1.1);
                        color: $accent-color;
                    }
                }
            }
        }
    }
}  