@use "colors" as *;
@use "mixins" as *;

.light .readMoreToggle {
  color: $accent-color-light !important;
}

.readMoreContainer {
  width: 100%;
  text-align: center;
  margin-top: 3rem;

  .readMoreToggle {
    color: $accent-color;
    cursor: pointer;
    font-size: 1.3rem;
  }
}