@import "tailwindcss";
@import "./styles/header.scss";
@import "./styles/home_page.scss";
@import "./styles/projects_page.scss";
@import "./styles/contact_page.scss";
@import "./styles/footer.scss";
/* @import "./styles/"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  /* next-themes doda tę klasę na <html> */
  background: #222222;
  color: #f0f0f0;
}

.light {
  /* next-themes doda tę klasę na <html> */
  background: #ffffff;
  color: #171717;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
