@import "tailwindcss";
@import "./styles/colors.scss";
@import "./styles/fonts.scss";
@import "./styles/mixins.scss"; 
@import "./styles/header.scss";
@import "./styles/home_page.scss";
@import "./styles/projects_page.scss";
@import "./styles/contact_page.scss";
@import "./styles/footer.scss";
/* @import "./styles/"; */

body {
  font-family: $main-font;
}

.dark {
  background: #222222;
  color: #f0f0f0;
}

.light {
  background: #ffffff;
  color: #171717;
}